/**
*	style.css
*
**/

body{
	color: #696969;
	font-size: 12px;
	line-height: 17px;
	font-family: verdana;
	padding: 0;
	margin:0;
	background: url(../images/header_bg.png) repeat-x;
}

a{
	text-decoration: none;
}

.header{
	height: 100px;
	overflow: hidden;
	padding: 0;
}
	.header .logobox{
		display: inline;
		position: relative;
	}
	.header a.logo {
		text-indent: -10000px;
		display: block;
		width: 271px;
		height: 100px;
		background: url(../images/header_logo.png) no-repeat;
		position: absolute;
		
	}
	.header a.page{
		text-indent: -10000px;
		display: block;
		width: 139px;
		height: 100px;
		background: url(../images/header_home.png) no-repeat;	
		position: absolute;
		margin-left: 271px;
	}
	.header .nav{
		float: right;
	}
	.header .nav a{
		text-indent: -10000px;
		position: relative;
		float: left;
		display: block;
		height: 62px;
		margin: 33px 30px 0 0;
		background: url(../images/sprites.png) no-repeat top left;
	}
		.header .nav a.home:hover, .header .nav a.home.active{
			background-position: -390px 0; width: 60px; height: 62px;
		}
		.header .nav a.about:hover, .header .nav a.about.active{
			 background-position: 0 0; width: 60px; height: 62px;
		}
		.header .nav a.blog:hover, .header .nav a.blog.active{
			background-position: -130px 0; width: 60px; height: 62px;
		}
		.header .nav a.portfolio:hover, .header .nav a.portfolio.active{
			background-position: -520px 0; width: 80px; height: 62px;
		}
		.header .nav a.contact:hover, .header .nav a.contact.active{
			background-position: -260px 0; width: 60px; height: 62px;
		}
		.header .nav a.home{
			background-position: -455px 0; width: 60px; height: 62px;
		}
		.header .nav a.about{
			 background-position: -65px 0; width: 60px; height: 62px;
		}
		.header .nav a.blog{
			background-position: -195px 0; width: 60px; height: 62px;
		}
		.header .nav a.portfolio{
			background-position: -605px 0; width: 80px; height: 62px;
		}
		.header .nav a.contact{
			background-position: -325px 0; width: 60px; height: 62px;
			margin-right: 0px;
		}

.slideshow{
	height: 500px;
	overflow: hidden;
	background: url(../images/slideshow_bg.png) repeat-x;
}
	.slideshow .mainbg{
		height:500px;
		background: url(../images/slideshow_mainbg.png) no-repeat center;
		overflow: hidden;
	}
	.slideshow  .holder{
		display: block;
		margin:50px auto 0 auto;
		width: 958px;
		padding:0px 0 40px 0;
		background: url(../images/slider_bg_bottom.png) no-repeat bottom;
		
	}
	.slideshow .slider{
		overflow: hidden;
		height: 400px;
		background: #ffffff;
		border: #092a81 1px solid;
	}

.content{
	height: 490px;
	background: url(../images/content_bg.png) repeat-x;
	overflow: hidden;
}

	.content h2 {
		font: Myriad Pro 23px normal;
		line-height: 30px;
		color: #0b070b;
		margin: 0 0 30px 0;
	}
	.content .grid_4 p{
		text-align: justify;
		text-indent: 38px;
		margin: 0 0 56px 0;
	}

.footer{
	width: 100%;
	height: 409px;
	display: block;
	overflow: hidden;
	background: url(../images/footer_bg.png) repeat-x bottom center;
	color: #ffffff;
}
.footernav{
	width: 100%;
	height: 51px;
	display: block;
	overflow: hidden;
	background: url(../images/footer_nav_bg.png) repeat-x bottom center;
	text-align: center;
	color: #ffffff;
	
}
