<?xml version="1.0" encoding="utf-8" ?>
<cu3er>
	<settings>

    <!-- must specify slider details otherwise IE will break -->
    <general slide_panel_width="960" slide_panel_height="400" slide_panel_horizontal_align="left" slide_panel_vertical_align="top" />

	<auto_play>

		<!-- Auto play slider. -->
		<defaults symbol="circular" time="10"/>
		<!-- Time: Number of seconds before switching to next slide. Recommended value: 4 -->
		<!-- Symbol: Loader icon choices: circular, linear  -->
	</auto_play>

	
		<!-- default font settings for all description boxes in each slider -->
		<description>
		<defaults heading_font="Trebuchet MS" paragraph_text_size="13" heading_text_margin="10, 25, 5, 25" round_corners="10, 10, 10, 10"/>

		</description>

    	<prev_button>
			<defaults round_corners="5,5,5,5"/>
			<!-- Button Look: If 55,55,55,55 is used button will be circle. 0,0,0,0 = square. Default is 5,5,5,5  -->
			<tweenOver tint="0xFFFFFF" scaleX="1.2" scaleY="1.2"/>
			<tweenOut tint="0x000000" />
			</prev_button>
		
    	<prev_symbol>

			<tweenOver tint="0x000000" />			
			</prev_symbol>
		
    	<next_button>
			<defaults round_corners="5,5,5,5"/>			
			<tweenOver tint="0xFFFFFF"  scaleX="1.2" scaleY="1.2"/>
			<tweenOut tint="0x000000" />
			</next_button>
		
    	<next_symbol>
			<tweenOver tint="0x000000" />
			</next_symbol>	
			
	</settings>    


<slides>

<!-- First slide -->
        <slide>
            <url>slider/image1.png</url>
						<link target="_self">your_page_link.htm</link>
						<!-- Where to go if link is clicked. You can remove this tag if no anchor link is required -->     
        </slide>
<!-- First slide end -->
        
		
		<!-- BRIEF TRANSITION GUIDE
		direction: left, right, up, down
		slicing: horizontal, vertical
		num - number of slices each transition consists of
		shader - transition shading type - none, flat, phong
		cube_color - define cube color during transition (hex value)
		duration - time for each sliced cube transition
		delay – time each sliced cube will wait before starting transition.
		z_multiplier - z offset enables jo-jo effect of the cubes on z axis during transition. Higher Z numbers create a pull back effect.
		-->

    
    		<!-- changing transition between first & second slide -->
        <transition num="3" slicing="vertical" direction="up" shader="none" z_multiplier="4" />
        
<!-- Second slide -->
        <slide>
       		<url>slider/nemo.png</url>
       		<link target="_self">index.html</link>  
       		
					<!-- To remove Description Box simply delete the <description> tags -->	
					<description>
					<heading>Temporary Picture</heading>

					<paragraph>I'm still working out the kinks on my website, so bear with me.</paragraph>
					</description>           		  
        </slide>		
<!-- Second slide end -->

				<!-- changing transition between second & third slide -->
        <transition num="3" slicing="horizontal" direction="left" shader="phong" z_multiplier="4" />
        
<!-- Third slide -->
				<slide>
          <url>slider/up.png</url>

          <link target="_self">index.html</link>  
       		
					<!-- To remove Description Box simply delete the <description> tags -->	
					<description>
					<heading>Temporary Picture</heading>

					<paragraph>I'm still working out the kinks on my website, so bear with me.</paragraph>
					</description>    
        </slide>
<!-- Third slide end -->      

				<!-- changing transition between third & fourth slide -->
				<transition num="10" slicing="vertical" direction="down" shader="none" delay="0.08" z_multiplier="5" />
       
<!-- Fourth slide -->
				<slide>
       		<url>slider/walle.png</url>
       		<link target="_self">index.html</link>  
       		
					<!-- To remove Description Box simply delete the <description> tags -->	
					<description>
					<heading>Temporary Picture</heading>

					<paragraph>I'm still working out the kinks on my website, so bear with me.</paragraph>
					</description>     
        </slide>

<!-- Fourth slide end -->      
        
				<!-- changing transition between fourth & fifth slide -->
				<transition num="3" direction="right" shader="phong" delay="0.1" z_multiplier="5" />
		
	

				<!-- changing transition between fifth & back to first slide -->

				<transition z_multiplier="5" />

			
	</slides>
</cu3er>

